//- To use this file,
//-
//-   meteor add mquandalle:jade
//-
//- and delete app.html

head
  meta(name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no")

template(name="layout")
  +famousContext id="mainCtx"
    +HeaderFooterLayout headerSize="45" footerSize="0"
      +Surface target="header" translate="[0,0,100]"
        +header
      +RenderController target="content" transition="opacity"
        +yield

template(name="header")
  div#header
    a#brand(href="/") fview-quickstart
    a(href="/") Home
    a(href="/page2") Page 2

template(name="home")
  +Surface class="page"
    h1 famous-views Quick Start
    p Thanks for joining us!  Your project is ready for editing.
    p A few more things to help you on your way
    ul
      li
        p
          | For
          b Jade
          | :
          code meteor add mquandalle:jade
          | and delete
          code client/app.html
          | .  There is a
          code client/app.jade
          | ready and waiting for you.
      li
        p
          | For
          b CoffeeScript
          | :
          code meteor add coffeescript
          | and
          | delete
          code lib/routing.js
          | .  There is a
          code lib/routing.coffee
          | ready and waiting for you.
    p
      | Make sure to check out the rest of
      a(href='http://famous-views.meteor.com') famous-views.meteor.com
      | to be aware of all your options, help for animations, etc.
    a(href='/page2') Example Page 2

template(name="page2")
  +Surface class="page"
    h1 Welcome to Page 2
    p
      | Change your transition type on the
      code #Rendercontroller
      | in your layout template.
    a(href="/") Back to Home
